* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, sans-serif;
}

window#waybar {
    background-color: rgba(39, 40, 34, 0.95);
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

/*
window > box {
    padding: 3px;
}
*/

#workspaces {
    font-size: 14px;
}

#workspaces button {
    color: #75715e;
    padding: 5px;
}

/* #workspaces button:hover {
    background: #f8f8f8;
} */

#workspaces button.active {
    color: #d8d8d8;
    background-color: #75715e;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-power {
    padding: 0 10px 0 10px;
    color: #f8f8f2;
    font-size: 14px;
}

#idle_inhibitor {
    color: #75715e;
}

#idle_inhibitor.activated {
    color: #f4bf75;
}

#custom-power {
    color: #f92672;
}
